<html>
    <head>
        <title> Cinema Reservation System </title>
        <style>
            .text-center {
                padding-top: 10px;
                vertical-align: middle;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <h1 class="text-center"> Cinema Reservation System with Django </h1>
        <h2 class="text-center"> Petar Ivanov </h2>

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
